{% extends "base.html" %}

{% block content %}
	<h2>Notes</h2>

	{% if filter_tags %}
		Filtered with tags:
		{% for tag in filter_tags %}
			#{{ tag }}
		{% endfor %}
	{% endif %}

	<p>
	{% if new_flag == False and username == current_user.username %}
		<a href="{{ url_for('.notes', username=current_user.username, new_flag=True, filter_tags=filter_tags) }}"><b>New note</b></a>
	{% elif new_flag == True %}
		{% with submit_value = 'Create' %}
			{% include 'notes/_note_form.html' %}
		{% endwith %}
	{% endif %}
	</p>

	{% for note in notes %}
		{% include 'notes/_note.html' %}
	{% endfor %}

{% endblock %}
