{% extends "base.html" %}

{% block content %}
	<h2>Tags</h2>
	<p>
		Order by: 
		<a href="{{ url_for('.tags', username=username, order_by='name') }}">name</a>
		| 
		<a href="{{ url_for('.tags', username=username, order_by='timestamp') }}">time</a>
	</p>

	{% if current_user.username==username %}
		<form action="{{ url_for('.tags', order_by=order_by) }}" method="post" novalidate>
			{{ newTagsForm.hidden_tag() }}
			<p>
			Create tags: 
			{{ newTagsForm.names(size=64) }}
			{{ newTagsForm.submit() }}
			</p>
		</form>
	{% endif %}

	{% if tag_id is none %}
	<form method="POST" action="{{ url_for('.notes') }}" novalidate>
	{% endif %}

	{% for tag in tags %}
		<div>
			{% if tag_id is none %}
			<input type="checkbox" name="filter_tags" value="{{ tag.name }}">
			{% endif %}

			{% if tag_id != tag.id %}
			<a href="{{ url_for('.notes', username=username, filter_tags=[tag.name]) }}">#{{ tag.name }}</a>
			<a href="{{ url_for('.tags', username=current_user.username, order_by=order_by, tag_id=tag.id) }}">Edit</a>
			{% else %}
			<form action="" method="post" novalidate style="display: inline;">
				{{ editTagForm.hidden_tag() }}
				Edit:
				{{ editTagForm.name(size=32) }}
				{{ editTagForm.submit() }}
				<a href="{{ url_for('.tags', username=current_user.username, order_by=order_by) }}">Cancel</a>
			</form>
			{% endif %}

			<span id="del_tag({{ tag.id }})" style="display: inline;">
				<a href="#" onclick="show_hide('confirm_del_tag({{ tag.id }})', 'del_tag({{ tag.id }})'); return false;">Delete</a>
			</span>
			<span id="confirm_del_tag({{ tag.id }})" style="display: none;">
				Confirm deleting tag: 
				<a href="{{ url_for('.del_tag', tag_id=tag.id, order_by=order_by) }}">Yes</a>
				/ 
				<a href="#" onclick="show_hide('del_tag({{ tag.id }})', 'confirm_del_tag({{ tag.id }})'); return false;">
					No
				</a>
			</span>
		</div><br>
	{% endfor %}

	{% if tag_id is none %}
		<button type="submit">Filter notes with checked tags</button>
	</form>
	{% endif %}

	<script type="text/javascript" >
		function show_hide(show_id, hide_id){
			document.getElementById(show_id).style.display = 'inline';
			document.getElementById(hide_id).style.display = 'none';
    }
	</script>
{% endblock %}
