{% extends "base.html" %}

{% block content %}
	<h2>Tags</h2>
	<p>
		Order by: 
		<a href="{{ url_for('tags', username=current_user.username, order_by='name') }}">name</a>
		| 
		<a href="{{ url_for('tags', username=current_user.username, order_by='timestamp') }}">time</a>
	</p>

	{% if current_user.username==user.username %}
		<form action="" method="post" novalidate>
			{{ newTagsForm.hidden_tag() }}
			<p>
			Create tags: 
			{{ newTagsForm.names(size=64) }}
			{{ newTagsForm.submit() }}
			</p>
		</form>
	{% endif %}

	{% for tag in user.tags.order_by(order_by) %}
		<p>
		{% if tag_id != tag.id %}
			#{{ tag.name }}
			<a href="{{ url_for('tags', username=current_user.username, order_by=order_by, tag_id=tag.id) }}">Edit</a>
		{% else %}
			<form action="" method="post" novalidate style="display: inline;">
				{{ editTagForm.hidden_tag() }}
				Edit: 
				{{ editTagForm.name(size=32) }}
				{{ editTagForm.submit() }}
				<a href="{{ url_for('tags', username=current_user.username, order_by=order_by) }}">Cancel</a>
			</form>
		{% endif %}
			<span id="del_tag({{ tag.id }})" style="display: inline;">
				<a href="#" onclick="show_hide('confirm_del_tag({{ tag.id }})', 'del_tag({{ tag.id }})'); return false;">
					Delete
				</a>
			</span>
			<span id="confirm_del_tag({{ tag.id }})" style="display: none;">
				Confirm deleting tag: 
				<a href="{{ url_for('del_tag', tag_id=tag.id) }}">Yes</a>
				/ 
				<a href="#" onclick="show_hide('del_tag({{ tag.id }})', 'confirm_del_tag({{ tag.id }})'); return false;">
					No
				</a>
			</span>
		</p>
	{% endfor %}

{% endblock %}
